{% load fw_tags %}
{% if page %}
    <nav aria-label="Page navigation">
    {% if page.has_other_pages %}
        <ul class="pagination">

            {% if page.has_previous %}
                <li class="paginator-item page-item"><a  class="page-link" href="?{% param_replace param page=1 %}">&laquo;Первая</a></li>
                <li class="paginator-item waves-effect"><a href="?{% param_replace param page=page.previous_page_number %}">
                    <i class="material-icons page-link">Назад</i></a></li>
            {% else %}
                <li class="paginator-item paginator-item-disable disabled"><i class="material-icons page-link">Назад</i></li>
            {% endif %}

            {% for num in page_range %}
                {% if posts.number == num %}
                    <li class="paginator-item paginator-item-select page-link active">{{ num }}</li>
                {% else %}
                    <li class="paginator-item waves-effect"><a class="page-link"
                            href="?{% param_replace param page=num %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <li class="paginator-item waves-effect"><a
                        href="?{% param_replace param page=page.next_page_number %}">
                            <i class="material-icons page-link">Вперед</i></a></li>
                <li class="paginator-item page-item"><a  class="page-link" href="?{% param_replace param page=page.paginator.num_pages %}">Последняя &raquo;</a></li>
            {% else %}
                <li class="paginator-item paginator-item-disable disabled"><i class="material-icons page-link">Вперед</i></li>
            {% endif %}

            <li class="paginator-item paginator-item-total page-item page-link"> Страница {{ page.number }} из {{ page.paginator.num_pages }}.</li>
        </ul>
    {% endif %}

    </nav>
{% endif %}