{% extends 'base/orders/document_order_base.html' %}
{% block content2%}{% block content1%}
            <h3 style="text-align:center;">Квитанция №{% if  order.adi_code %}{{ order.adi_code }}{% else %}{{ order.pk|stringformat:'08d' }}{% endif %}  от     {{ order.date_of_receipt|date:"d.m.Y" }}</h3>
            <p>Принят для проведения ремонта и/или гарантийного обслуживания:</p>

            <table>
            <tbody>
                <tr>
                    <td>Заказчик</td>
                    <td>{{ order.contact_person }} {{ order.contact_phone }}</td>

                </tr>
                <tr>
                    <td>Оборудование/ Изделие</td>
                    <td>{{ order.manufacturer }} {{ order.item_name }}</td>

                </tr>
                <tr>
                    <td>Серийный номер</td>
                    <td>{{ order.serial_number }}</td>
                </tr>
                <tr>
                    <td>Комплект</td>
                    <td>{{ order.equipment }}</td>
                </tr>
                <tr>
                    <td>Неисправность:</td>
                    <td>{{ order.damage }}</td>
                <tr>
                    <td>Примечание:</td>
                    <td>{{ order.comments }}</td>
                </tr>
            </tbody></table>

            <ol type="1">
                <li>Сервисный центр оставляет за собой право снять изделие с гарантийного обслуживания при обнаружении постороннего вмешательства, наличии механических повреждений либо других нарушений эксплуатационных правил, изложенных в руководстве пользователя и/или гарантийном талоне.</li>
                <li>Сервисный центр не несет ответственности за сохранность информации на любых носителях данных.</li>
                <li>Срок выполнения составляет не более 14 рабочих дней (при наличии запасных частей). При отсутствии запасных частей термин бесплатного устранения неисправностей отсчитывается с момента их поступления на склад сервисного центра, но не может превышать 90 дней с даты приема оборудования.</li>
                <li>При периодическом характере заявленной неисправности началом работ по ее устранению считается день проявления неисправности в сервисном центре. Заказчик соглашается, что все недостатки, неисправности и внутренние повреждения, который могут быть выявлены сервисным центром, в процессе выполнения работ, возникли до принятия изделия в сервисный центр по этой квитанции.</li>
                <li>После завершения ремонта (а также в случае его невозможности) оборудование, заданное в ремонт, в соответствии со постановлением КМУ №506 от 11.02.2012, сберегается в СЦ не более 6 (шести) месяцев с дня, определенного в этой квитанции. За хранение свыше 3-х месяцев з дня, определенного в этой квитанции, взымается плата в размере 6 (шести) грн за каждый календарный день хранения оборудования в СЦ. После истечения 6 (шести) месяцев хранения, оборудование, сданное в ремонт, переходит в собственность СЦ для дальнейшей реализации и компенсации затрат на обслуживание, ремонт и хранение.</li>
                <li>Диагностика не гарантийных изделий, а также установка/восстановление программных продуктов и их элементов является платной услугой для заказчика.</li>
                <li>Данный талон не является финансовым документом</li>
                <li>Сервисный центр не несет ответственности за состояние и сохранность изделия после того, как изделие было выдано потребителю.</li>
                <li>Заполненная квитанция и подпись физического лица Заказчика подтверждают его согласие (разрешение) на обработку персональных данных в соответствии з Законом Украины №2297-VI от 01/06/2010 «О защите персональных данных», с целью изучения работы СЦ и улучшения качества обслуживания. Подпись заказчика также подтверждает его информированность и согласие со всеми условиями обслуживания в СЦ, а также согласие на получение SMS-сообщений и/или звонков.</li>
            </ol>
{% endblock %}{% endblock %}

{% block contact_info%}{% endblock %}