{% extends 'base/orders/../../base/document_base.html' %}
{% block content%}
    <h1 style="text-align:center;">Сервисный центр</h1>
    <h3 style="text-align:center;">ТОВ "НКТ" г. Киев, ул. Старокиевская, 10</h3>
    <h5 style="text-align:center;">ПН-ПТ 10:00-18:00, обед 13:00-14:00 СБ, ВС - выходные<br>
    по вопросам готовности обращаться по тел. 303-92-30 вн.712 e-mail: 911@nkt.kiev.ua</h5>
    {% block content1%}
    {% endblock %}
    {% block text%}
        <p>«Квитанция заполнена правильно, с условиями обслуживания ознакомлен и согласен»: _________________</p>
    {% endblock %}
    <p>«Изделие получил, претензий не имею»: _________________________________________________________</p>
    <p>---------------------------------------------------------------------------------------------------------------------------------------------</p>
    {% block content2%}
    {% endblock %}
    {% block text2%}
    <p>«Квитанция заполнена правильно, с условиями обслуживания ознакомлен и согласен»:  _______________</p>
    {% endblock %}
    {% block contact_info%}
    {% endblock %}
{% endblock %}