{% extends 'base/base_template.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
        nav.menu_nav ul{
            position: absolute;
            min-width: 10rem;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            z-index: 1000;
        }
        nav.menu_nav ul li{ display: block; }
        .redAlert{
            background-color: lightcoral;
        }
        .yellowWarning{
            background-color: #dad55e;
        }
        .greenOk{
            background-color: #97dab4;
        }
    </style>
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h4 class="panel-title">Поиск</h4>
      </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="number" value="{{ param.number }}" alt="НОМЕР" placeholder="НОМЕР"><input type="submit" value="ПОИСК">
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Гарантийные талоны</h3>
      </div>
        <div class="panel-body serial-lists">

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Дата создания</th>
                  <th scope="col">Номер документа</th>
                  <th scope="col">Дата</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
              <tbody>
              {% for warrantycard in warrantycards %}
                <tr>
                  <th scope="row">{{ warrantycard.pk }}</th>
                  <td>{{ warrantycard.date_of_create }}</td>
                  <td>{{ warrantycard.doc_num }}</td>
                  <td>{{ warrantycard.date_document }}</td>
                  <td>
                      <button class="btn-sm btn-primary" onclick="opendialog('{% url 'view_warranty_card_det' warrantycard.pk  %}')">Подробнее</button>
                      <nav class="menu_nav  clickFade">
                        <a href="javascript:void(0)" class="btn-sm btn-success dropdown-toggle">Меню</a>
                                    <ul>
                                        <li><a class="dropdown-item" href="{% url 'edit_warranty_card' warrantycard.pk  %}">Изменить</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="{% url 'view_warranty_card' warrantycard.pk  %}">Гарантия</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="{% url 'view_check_card' warrantycard.pk  %}">Чек</a></li>
                                    </ul>
                      </nav>
                  </td>
                </tr>
                    {% empty %}
                        <tr><td>Нет данных</td></tr>
                    {% endfor %}
              </tbody>
            </table>
{% load fw_tags %}
{% paging_navigation page param %}
        </div>
    </div>





<script>
        function opendialog(url)    {
            $('<div>').dialog({
                modal: true,
                open: function ()
                {
                    $(this).load(url);
                },
                height: 800,
                width: window.innerWidth <= 700? '90%' : '600',
                title: 'Детальная информация'
            });
        }

        $(document).ready(function(){

            $(".clickFade ul").hide();
            $(".clickFade").hover(function(){
                $(this).children("ul").stop(true,true).fadeToggle("fast"),
                $(this).toggleClass("dropdown-active");
            });
        });
</script>
{% endblock %}